.startYourFavourite {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 27px;
  z-index: 0;
}
.youCanJoin {
  margin: 0;
}
.aInstructor {
  color: var(--color-seagreen-100);
}
.youCanJoinContainer {
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  line-height: 50px;
  font-weight: 500;
  z-index: 1;
  color: var(--color-darkslategray-300);
}
.textChild {
  position: absolute;
  margin: 0 !important;
  top: 146.5px;
  left: 71.88px;
  width: 245.62px;
  height: 25.99px;
  flex-shrink: 0;
  z-index: 2;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.dropInformation {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 40px;
  font-weight: 500;
}
.content,
.dropinformationbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropinformationbutton {
  border-radius: var(--br-3xs);
  background-color: var(--color-seagreen-100);
  box-shadow: 0 2px 10px rgba(30, 156, 78, 0.35);
  border: 1px solid var(--color-seagreen-100);
  padding: var(--padding-2xs) var(--padding-lg);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.dropinformationbutton:hover {
  background-color: var(--color-honeydew-100);
  color: var(--color-seagreen-100);
}
.content {
  width: 970px;
  flex-shrink: 0;
  justify-content: space-between;
  z-index: 0;
}
.arrowIcon,
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.arrowIcon {
  top: 111.55px;
  left: 603.66px;
  border-radius: var(--br-12xs-1);
  width: 152.81px;
  height: 46.01px;
  z-index: 1;
}
.vectorIcon,
.vectorIcon1 {
  top: 20.5px;
  left: 1038.5px;
  width: 51.01px;
  height: 71.07px;
  z-index: 2;
}
.vectorIcon1 {
  top: 183.09px;
  left: 17.5px;
  width: 35.93px;
  height: 59.4px;
  z-index: 3;
}
.cta,
.cta1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew-100);
  border: 1.2px solid var(--color-seagreen-300);
  flex-direction: row;
  padding: var(--padding-38xl) var(--padding-51xl);
}
.cta {
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-146xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-seagreen-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content {
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-41xl);
  }
  .arrowIcon {
    display: none;
  }
  .cta1 {
    flex-direction: column;
  }

  .textChild {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .content {
    width: auto;
    height: auto;
  }
}
